tbody tr {
    border-bottom: 1px solid #DEE2E6;
}

.btn {
    cursor: pointer;
    padding: .25rem .5rem;
    margin-top: .25rem;
    margin-bottom: .25rem;
    font-size: 0.875rem;
    border-radius: .2rem;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
}

.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-info {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.form-control {
    display: inline;
    padding: .375rem .75rem;
    font-size: 1rem;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    margin-right: 5px;
}

.container {
    width: 550px;
    padding: 20px;
    margin: 10px auto;
    border: 1px solid #28a745;
    border-radius: 6px;
}
